[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
html2text = "*"
beautifulsoup4 = "*"
requests = "*"
jikanpy = { git = 'https://github.com/AWConant/jikanpy.git'}

[requires]
python_version = "3.7"
